                   
/* primary color */
.hero-section-2 .second-headline span,
.hero-section-video-dark .second-headline span,
.hero-section-yt-dark .second-headline span,
.about-icons li .icon .material-icons,
.quote-bottom .container h3 span,
.service-headline h2 span,
.service .text a:hover,
.service-2 .text a:hover,
.service .icons i,
.service-2 .icons i,
.info-line .info-icon i,
footer p a:hover,
.portfolio-icons li a i,
.service-icons li a i {
    color: #00f4d4;
}
.social-icons li a:hover,
.contact-form .btn-default:hover,
.portfolio-icons li a:hover,
.service-icons li a:hover,
.service-form .btn-default:hover {
   background-color: #00f4d4;
}
.contact-form .btn-default:hover,
.service-form .btn-default:hover {
   border-color: #00f4d4;
}
/* primary color 2 */
.st-nav-trigger {
   box-shadow: 0 0 10px #004bb7;
}
@media only screen and (min-width: 992px) {
   #st-nav.is-fixed ul {
       box-shadow: 0 0 10px #004bb7;
   }
}
.st-nav-trigger span,
.st-nav-trigger.menu-is-open span::before,
.st-nav-trigger.menu-is-open span::after,
.image-section .btn-lg,
.social-icons li a {
   background: #004bb7;
}
/* primary color 3 */
.sweep-icon a .fa {
   color: #499fff;
}
/* secondary color */
.our-work-section .new-style p a {
   color: #3f60cb;
}
.sweep-layer h3 a:hover {
   color: #3f60cb;
}
/* Gradients */
/* secondary and secondary 2 */
.call-to-section .btn-default {
   background: -ms-linear-gradient(left, #3f60cb 0%, #00BBFF 100%);
   background: -moz-linear-gradient(left, #3f60cb 0%, #00BBFF 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #3f60cb), color-stop(1, #00BBFF));
   background: -webkit-linear-gradient(left, #3f60cb, #00BBFF 100%);
   background: linear-gradient(to right, #3f60cb, #00BBFF 100%);
   border: 1px solid #3f60cb;
}
/* secondary and primary 2 */
.hero-layer,.call-to-layer {
   background: -ms-linear-gradient(left, #3f60cb 0%, #004bb7 100%);
   background: -moz-linear-gradient(left, #3f60cb 0%, #004bb7 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #3f60cb), color-stop(1, #004bb7));
   background: -webkit-linear-gradient(left, #3f60cb, #004bb7 100%);
   background: linear-gradient(to right, #3f60cb, #004bb7 100%);
}
.portfolio-img .sweep-left,
.portfolio-img .sweep-right {
   background: -ms-linear-gradient(left, #004bb7 0%, #3f60cb 100%);
   background: -moz-linear-gradient(left, #004bb7 0%, #3f60cb 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #004bb7), color-stop(1, #3f60cb));
   background: -webkit-linear-gradient(left, #004bb7, #3f60cb 100%);
   background: linear-gradient(to right, #004bb7, #3f60cb 100%);
}
/* secondary 2 and primary 4 */
.gradient {
   background: -ms-linear-gradient(left, #00BBFF 0%, #862bff 100%);
   background: -moz-linear-gradient(left, #00BBFF 0%, #862bff 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00BBFF), color-stop(1, #862bff));
   background: -webkit-linear-gradient(left, #00BBFF, #862bff 100%);
   background: linear-gradient(to right, #00BBFF, #862bff 100%);
}

.headerlogo{
    max-width: 60px;
    margin-top: 16px;
}

.ribbonlogo{
    max-width: 60vw;
    margin-top: 16px;
}

.logoslider{
    max-width: 80vw;
}

.hero-logo{
    cursor: pointer;
}


.hero-section-video .typed-text .skilltechtypetext.white, .hero-section-video .typed-text .skilltechtypetext.solid {
    color: #ffffff;
}

.hero-section-video .typed-text .skilltechtypetext.blue {
    color: #66B0C9;
}

.hero-section-video .typed-text .skilltechtypetext.dark {
    color: #233F8E;
}

.hero-section-video .typed-text .skilltechtypetext.purple {
    color: #32338d;
}

.mar_bottom32{
    margin-bottom: 32px;
}

/******EL MENU REBOTA******/

.bounce_ani {
  -moz-animation: bounce 2s infinite!important;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite!important;
}

.bounce_aniX {
  -moz-animation: bounceX 2s infinite!important;
  -webkit-animation: bounceX 2s infinite;
  animation: bounceX 2s infinite!important;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounceX {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(+30px);
  }
  60% {
    transform: translateX(+15px);
  }
}

.mobilevideobg,.desktopvideobg{
    display: none;
}

.fadeinbot {
    display: none;      
}

.fadeinbotimg {
    top: 150%;        
}















/* ******************************************************************************
********************************************************************************
************************ PRELOADER *********************************************
*********************************************************************************
*************************************************************************** */